* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #343a40;
}
.container {
    width: 550px;
    height: 700px;
    margin: auto;
    margin-top: 10px;
}

main {
    width: 100%;
    height: 280px;
    text-align: center;
    background-color: #6943FF;
}

h2 {
    padding-top: 33px;
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 33px;
}

input {
    display: block;
    margin: auto;
    width: 117px;
    height: 83px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color:  #6943FF;
    color: #ffffff;
    
}

button {
    width: 117px;
    height: 42px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #B295FF;
    font-size: 16px;
}

section {
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
    background-color: #F4F4F4;
}

section div {
    width: 500px;
    height: 108px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: white;
    box-shadow: 0px 0px 15px #dee2e6;
    
}

h3 {
    font-size: 20px;
    color: #5A537B;
    font-weight: 600;
    line-height: 20px;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #1C1C1C;
}